<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div class="main-form-container">
    <form action="/employee/create" method="post">
        <div>
          <label for="fname">First name:</label>
           <input type="text" name="name" placeholder="Enter Your Name" required>
        </div>
        <div>
          <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter Your Email" required>
      </div> 
        <div>
          <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter Your Password" required>
        </div>
          <div>
            <label for="salary">Salary:</label>
            <input name="salary" placeholder="Enter Your Salary" required>
          </div>
         <div>
          <label for="date">Date of birth:</label>
          <input type="date" name="dob" placeholder="Enter Your DOB" required>
         </div>
        <div>
          <label for="dept">Department:</label>
           <input type="text" name="dept" placeholder="Enter Your Department" required>
        </div>
         <div>
          <label for="role">Role:</label>
          <input type="text" name="role" placeholder="Enter Your Role" required>
         </div>
         <div>
          <label for="date">Date of joining:</label>
            <input type="date" name="doj" placeholder="Enter Your date of joining" required>
         </div>
          <div id="sign-up-button">
            <input type="submit" value="Submit">
           </div>
    </form>
  </div>
        
</body>
</html>