<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assests/css/layout.css">
</head>
<body>
    <form action="/employee/create" method="post">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="password" name="password" placeholder="Enter Your Password" required>
        <input name="salary" placeholder="Enter Your Salary" required>
        <input type="date" name="dob" placeholder="Enter Your DOB" required>
        <input type="text" name="dept" placeholder="Enter Your Department" required>
        <input type="text" name="role" placeholder="Enter Your Role" required>
        <input type="date" name="doj" placeholder="Enter Your date of joining" required>
        <input type="submit" value="sign-up"> 
    </form>
        
        
</body>
</html>