body{
    text-align: center;
    background-color: aqua;
    
}
#sign-up-button{
    margin-left: 50em;
}
.main-form-container{
    margin-right: 40px;
     margin-top: 50px;
     display: flex;

 }
.main-div{
   
}
form div input{
    margin: 20px;
}
